@model dynamic

@{
  Layout = null;
}

<!DOCTYPE html>

<html>
  <head>
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.2/css/jquery.dataTables.css">

    <!-- jQuery -->
    <script type="text/javascript" charset="utf8" src="//code.jquery.com/jquery-1.10.2.min.js"></script>

    <!-- DataTables -->
    <script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.2/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/home.js"></script>
    <title>Home Page</title>
  </head>
  <body>
    <div>
      <table id="table_id" class="display" width="100%">
        <thead>
          <tr>
            <th>Method Name</th>
            <th>Exception</th>
            <th>Date</th>
            <th>App Version</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>
</html>
